<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>PingServlet</servlet-name>
        <servlet-class>com.mikenimer.apiserver.servlets.PingServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>ContentRepository</servlet-name>
        <servlet-class>org.apache.jackrabbit.servlet.jackrabbit.JackrabbitRepositoryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>repository.home</param-name>
            <param-value>jackrabbit-repository</param-value>
        </init-param>

        <init-param>
            <param-name>repository.config</param-name>
            <param-value>src/main/webapp/WEB-INF/jackrabbit/repository.xml</param-value>
        </init-param>
    </servlet>

    <!-- ALTERNATIVE
    <servlet>
        <servlet-name>ContentRepository</servlet-name>
        <servlet-class>org.apache.jackrabbit.j2ee.RepositoryStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
        <param-name>bootstrap-config</param-name>
        <param-value>/WEB-INF/jackrabbit/bootstrap.properties</param-value>
        </init-param>
    </servlet>
    -->


    <!-- ====================================================================== -->
    <!-- R E P O S I T O R Y   S E R V L E T                                    -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Repository</servlet-name>
        <servlet-class>org.apache.jackrabbit.j2ee.RepositoryAccessServlet</servlet-class>

        <init-param>
            <param-name>repository.context.attribute.name</param-name>
            <param-value>javax.jcr.Repository</param-value>
        </init-param>

        <load-on-startup>2</load-on-startup>
    </servlet>


    <!-- ====================================================================== -->
    <!-- W E B D A V  S E R V L E T  -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Webdav</servlet-name>
        <description>
            The webdav servlet that connects HTTP request to the repository.
        </description>
        <servlet-class>org.apache.jackrabbit.j2ee.SimpleWebdavServlet</servlet-class>

        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/repository</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
        <!--
            Optional parameter to define the value of the
'WWW-Authenticate' header
        -->
        <!--
        <init-param>
            <param-name>authenticate-header</param-name>
            <param-value>Basic realm="Jackrabbit Webdav Server"</param-value>
            <description>
                Defines the value of the 'WWW-Authenticate' header.
            </description>
        </init-param>
        -->
        <!--
            Parameter used to configure behaviour of webdav resources such as:
            - destinction between collections and non-collections
            - resource filtering
        -->
        <init-param>
            <param-name>resource-config</param-name>
            <param-value>/WEB-INF/jackrabbit/webdav-config.xml</param-value>
            <description>
                Defines various dav-resource configuration parameters.
            </description>
        </init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!-- ======================================================================
-->
    <!-- W E B D A V  S E R V E R  S E R V L E T -->

    <!-- ======================================================================

    <servlet>
        <servlet-name>JCRWebdavServer</servlet-name>
        <description>
            The webdav servlet that connects HTTP request to the repository.
        </description>
        <servlet-class>org.apache.jackrabbit.j2ee.JCRWebdavServerServlet</servlet-class>
        <init-param>
            <param-name>resource-path-prefix</param-name>
            <param-value>/server</param-value>
            <description>
                defines the prefix for spooling resources out of the repository.
            </description>
        </init-param>
        -->


        <!--
            Optional parameter to define the value of the 'WWW-Authenticate' header
        -->
            <!--
            <init-param>
                <param-name>authenticate-header</param-name>
                <param-value>Basic realm="Jackrabbit Webdav Server"</param-value>
                <description>
                    Defines the value of the 'WWW-Authenticate' header.
                </description>
            </init-param>
            -->


        <!--
        <load-on-startup>5</load-on-startup>
    </servlet>
     -->


    <!-- ====================================================================== -->
    <!-- R M I   B I N D I N G   S E R V L E T S                                -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>RMI</servlet-name>
        <servlet-class>org.apache.jackrabbit.servlet.remote.RMIRemoteBindingServlet</servlet-class>
        <init-param>
            <param-name>url</param-name>
            <param-value>//localhost/jackrabbit.repository</param-value>
        </init-param>
    </servlet>


    <!-- ======================================================================
-->
    <!-- S E R V L E T   M A P P I N G
         -->
    <!-- ======================================================================
-->
    <servlet-mapping>
        <servlet-name>Webdav</servlet-name>
        <url-pattern>/repository/*</url-pattern>
    </servlet-mapping>
    <!--servlet-mapping>
        <servlet-name>JCRWebdavServer</servlet-name>
        <url-pattern>/server/*</url-pattern>
    </servlet-mapping-->
    <servlet-mapping>
        <servlet-name>RMI</servlet-name>
        <url-pattern>/rmi</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>PingServlet</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

</web-app>
